@CHARSET "UTF-8";
.clear{clear: both;}
/*水印*/
.watermark{text-align:center ;z-index:5000;width:100%; position:fixed;bottom: 15px;}
.watermark >a{text-decoration: none;color:#4F4F4F; font-size: 12px}

.top{
	position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  padding: 10px 5px;
  background-color: rgba(51, 122, 183, 1);
}
.top a{color: #FFFFFF;}
.logo{width:120px;height:55px}
.logo-foot{width:300px}
span.righttop{vertical-align: text-bottom;font-size: 7px;color: #F90000;}
.editor {overflow:scroll; height:200px}
.close_btn{
	position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgb(79, 70, 70);
  color: white;
  padding: 5px 10px;
  float: right;
  font-size: 18px;
}
.navbar-inverse {
  background-color: #A757A8;
  border-color: #A757A8;
  color: #fff;
} 
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #B566B6;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #B566B6;
}

.nav>li{ height: 80px;}
.nav>li>a>img {
  max-width: none;
  height: 30px;
}

.guestBook {
	z-index: 999;
	height:auto; 
	position:absolute; 
	top:-180px; 
	left:40%;
	background-color: rgb(229, 218, 229);
	padding: 10px;
	display: none;
	text-align: left;
}

body{font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
a {color: #337ab7;outline: none !important;text-decoration: none;}

ol, ul {
  list-style: none;
}

.pl10{padding-left: 10px;}
.pt20{padding-top: 20px}
.tc{text-align: center;}
.w100{width: 100%}
blockquote {
	padding: 5px 20px;
	margin: 0;
	font-size: 15px;
	border-left: 5px solid #D9534F;
	color: black;
	font-weight: bold;
	background-color: white;
}
.blockquoteDiv{padding: 10px}

.header{
	background: #fff;
}
@media (max-width: 768px){
	.navbar-header {
	  margin: 0 !important;
	}
	.banner-index{display: none}
	
}
.navbar{
	border-radius:0px;
	margin-bottom:0px;
	min-height: 82px;
}
.nav.nav-login {
  margin-left: 30px;
  float: right;
  font-size: 16px;
}
.nav.nav-login>li {
  float: left;
}
.nav.nav-login>li>a {
  padding: 30px 15px;
  color: #A757A8;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.navbar-nav>li>a {
  padding: 30px 25px !important;
  font-size: 16px;
}
.media-img{
	width: 100px;
  	height: 60px;
}

.section-header {
  text-align: center;
}
.section-header h2 {
  position: relative;
  margin-top: 0;
  font-size: 30px;
  z-index: 1;
}
.section-header h2>span {
  padding: 0 50px;
  color: #333;
  background-color: #fff;
}
.section-header .line {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  height: 1px;
  width: 50%;
  margin: 0 auto;
  background-color: #337AB7;
  z-index: -1;
}

.specail-hd{
	  border-bottom: 1px solid #337AB7;
}
.specail-hd .global-tit {
  background: #337AB7;
  margin-right: 10px;
  padding: 0 20px;
}
.global-tit {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
}
.FontAwesome {
  font-family: 'FontAwesome',"Microsoft Yahei";
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.title_content{
	text-align: left;
	background: #cdd8e3;
	margin-bottom: 5px;
  	height: 36px;
  	line-height: 36px;
  	padding-left: 15px;
  	border-left: 5px solid #A757A8;
}
.swiper-container {
    width: 100%;
    height: 400px;
}
.swiper-slide>a {
  display: block;
  width: 100%;
  height: 100%;
}
.content{
	  display: inline-block;
	  background-color: #fff;
	  padding-top: 20px;
}
.div_block{
  padding: 15px;
}

.product{
	max-width: 100%;
	height:auto;
	text-align: left;
	
}

@media (min-width: 1280px) {
	.plugthumb {
	  position: relative;
	  float: left;
	  margin-left: 2%;
	  margin-top: 2%;
	  padding: 0px;
	  background: #fff;
	  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
	  box-shadow: 0 0 4px rgba(0,0,0,.2);
	  width: 47%;
	}
}


.productBtn{
	text-align: right;
	padding-right: 5px;
}

.footer {
  padding: 20px 0;
  background: #515151;
  color: #fff;
}
.footer>div {
  text-align: center;
}
.footer>div i {
  padding: 3px;
  margin: 0 4px;
  border: 1px solid #fff;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.ox-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.footer .about {
  padding: 8px 0 0;
}

.footer .about>span a {
  color: #fff;
  padding: 0 8px;
}

.footer .about .con {
  text-align: center;
  font-size: 12px;
}
a.con {
  color: #999 !important;
  width:30%;word-wrap:break-word;
}
.left {
float: left;
}

hr{border-top: 1px solid #A757A8;}
.blog-main {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 20px;
}
.to-tip{text-align: center;}
section.to-tip .inner {
  display: inline-block;
  margin-top: 30px;
}
section.to-tip .top-tip-shap {
  border: 2px solid #ececec;
  border-radius: 100%;
}
section.to-tip a {
  display: block;
  width: 58px;
  height: 58px;
  border: 1px solid #f1b60e;
  border-radius: 100%;
  line-height: 58px;
  color: #fff;
  font-size: 24px;
  background: #fccd60;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fccd60), color-stop(100%, #fbae12), color-stop(100%, #2989d8), color-stop(100%, #207cca));
  background: -webkit-linear-gradient(top, #fccd60 0%, #fbae12 100%, #2989d8 100%, #207cca 100%);
  background: linear-gradient(to bottom, #fccd60 0%,#fbae12 100%,#2989d8 100%,#207cca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fccd60', endColorstr='#207cca', GradientType=0);
  position: relative;
}
section.to-tip .code {
  position: absolute;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  line-height: 14px;
  top: -180px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  display: none;
}
section.to-tip .code img {
  width: 120px;
  height: 120px;
}
section.to-tip .code b {
  color: #333;
  font-size: 12px;
  font-weight: normal;
}
.color_pick{
	width:85px;
	padding: 6px 12px;
	border: 1px solid #ccc;
  	border-radius: 4px;
}



article {
  padding: 20px;
  background: #fff;
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  max-width: 100%;
  text-align: justify;
}
.article_content img{
	max-width: 98%;
}
.article_content{
	word-wrap: break-word;
  	word-break: break-all;
}
.pic {
  float: left;
  margin-right: 20px;
  width: 220px;
  height: 120px;
  background: no-repeat center center;
  background-size: cover;
}
.pic .mask-tags {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
  background: #f45170;
  z-index: 50;
}
.desc .title {
  font-size: 18px;
  font-weight: 600;
  word-break: break-all;
  word-wrap: break-word;
}
.desc .author {
  margin: 15px 0 8px;
  color: #aaaaaa;
}

.comment{float: left; width: 100%; border-bottom: 1px solid rgba(0,0,0,0.13);}
.comment ul{ background: none; margin: 0; padding: 0;}
.comment ul li{ list-style: none;}
.comment-content { position: relative; padding: 10px; border-top: 1px solid rgba(255,255,255,0.7);}
.comment-avatar{float: left;}
.comment-avatar img {
  display: block;
  width: 50px;
  height: 50px;
  max-width: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.22);
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.comment-body{padding-left: 60px;}
.comment-author{font-size: 14px;color: #e74851;}
.comment_date{font-size: 12px;color: grey;padding-left: 10px}

.replybox {
  width: auto;
  font-size: 12px;
  z-index: 3;
  margin: 8px 0;
  padding: 10px 0 0 0;
  position: relative;
  _zoom: 1;
  height: 120px;
  border-top: 1px solid #DAD9D9;
}
.replybox .avatar {
  position: absolute;
  top: 10px;
  left: 0;
}
.textarea-wrapper {
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}
.textarea-wrapper textarea {
  box-shadow: none;
  -webkit-appearance: none;
  overflow: auto;
  padding: 10px;
  height: 70px;
  margin: 0;
  resize: none;
  color: #999;
  width: 100%;
}
.post-toolbar {
  position: relative;
  width: 100%;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
.post-button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  width: 100px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom-color: #aaa;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), color-stop(25%, #fcfcfc), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fcfcfc, #fcfcfc 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
  background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  box-shadow: inset 0 0 1px #fff;
}
.post-login{
	position: absolute;
  right: 2px;
  top: 0;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
.post-login a img{
	max-height: 25px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom .fa {
  background: #17C2A4;
  border-radius: 50%;
  color: #FFF;
  font-size: 28px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.bgsoundcontent img{max-width: 100%;}
/*love*/
/*.love{position:absolute;top:42%;left:56%;opacity: .3;display:none;}*/