.wrap {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 1.76rem;
  background-color: #b30d01;
  font-size: 0.48rem;
  text-align: center;
  line-height: 2.2rem;
  color: white;
}
.header .hl {
  float: left;
  width: 0.36rem;
  height: 0.62rem;
  background: url(../images/leftarro.png) no-repeat;
  margin-left: 0.6rem;
  background-size: cover;
}
.header .hr {
  float: right;
  margin-right: 0.8rem;
}
.header .hl,
.header .hr {
  margin-top: 0.6rem;
  cursor: pointer;
}
.header .hr span:nth-of-type(1) {
  float: left;
  width: 0.68rem;
  height: 0.62rem;
  background: url(../images/xin.png) no-repeat;
  margin-right: 0.5rem;
  background-size: cover;
}
.header .hr span:nth-of-type(2) {
  float: right;
  width: 1.02rem;
  height: 0.68rem;
  background: url(../images/fen.png) no-repeat;
  background-size: cover;
}
hgroup h1 {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1rem;
}
hgroup {
  margin-left: 0.6rem;
  margin-top: 1.2rem;
}
hgroup p {
  font-size: 0.6rem;
  color: #9c9c9c;
  margin-top: 0.6rem;
}
figure {
  width: 9.9rem;
  height: 7.4rem;
  margin: 0 auto;
  margin-top: 1.2rem;
  text-align: center;
}
figure img {
  width: 9.9rem;
  height: 6.62rem;
}
figure p {
  color: #464646;
  font-size: 0.6rem;
}
article {
  margin-left: 1.4rem;
  font-size: 0.56rem;
}
article p {
  width: 12.2rem;
  color: #616161;
}
article .p5 {
  height: 0.48rem;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 0.2rem;
}
article .p3 {
  margin-top: 0.2rem;
}
